@charset "utf-8"

#board {
    border-collapse:collapse;
}
td {
    width:50px;
    height:50px;
    font-size:20pt;
    text-align:center;
    border:solid;
}
td.bg {
    background-color:#C0FFC0;
}
td.br {
    background-color:#FFC0C0;
}
td.bb {
    background-color:#C0C0FF;
}
.bg:hover {
    background-color:#C0C0C0;
}
	